Plug 'tpope/vim-surround'
set surround

set commentary

" Set relative numbers
set relativenumber

" Set the line number again so we can see the current line number
set number

set so=10

nnoremap gn :action GotoNextError<CR>
nnoremap gp :action GotoPreviousError<CR>
